<div class="container">
    <div class="logo">
      <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.6327 0.930315C18.3766 1.45266 17.8999 2.46194 17.5644 3.1702C16.9641 4.42738 15.834 6.74694 13.5475 11.4038C12.9206 12.6964 11.9407 14.7061 11.3668 15.8747C10.8018 17.0434 9.94544 18.7963 9.4687 19.7702C8.99196 20.744 8.23271 22.3199 7.77363 23.2672C7.30572 24.2145 6.51998 25.8347 6.01676 26.8705C4.95734 29.0307 4.9132 29.1812 5.45173 28.7563C5.57533 28.6589 5.69893 28.5792 5.73425 28.5792C5.76956 28.5792 6.02559 28.473 6.3081 28.349C7.01438 28.0303 7.12915 27.986 7.48229 27.8798C7.65003 27.8267 7.99434 27.7205 8.23271 27.6408C9.80418 27.1361 10.687 27.0387 13.8829 27.0387C16.761 27.0387 17.7057 27.1096 19.6215 27.5168C19.8157 27.5611 20.213 27.6408 20.5043 27.6939C21.4843 27.8798 22.0846 28.048 23.6384 28.5527C24.2917 28.7651 24.9097 28.9688 25.0068 29.0219C25.104 29.0662 25.5454 29.2432 25.9868 29.4114C26.7284 29.6947 27.4258 30.0577 27.6554 30.2968C28.0085 30.6509 29.2357 32.8819 29.1474 33.0147C29.0679 33.1475 28.7413 33.1033 27.1963 32.7757C26.3841 32.5986 25.5542 32.4216 25.36 32.3861C24.9009 32.2888 23.2765 31.9258 21.8727 31.5893C20.0894 31.1732 18.7916 30.9431 16.7081 30.6598C15.4897 30.5004 10.8724 30.403 9.86598 30.5092C8.49756 30.6686 6.51998 31.306 5.40759 31.9612C4.20692 32.6606 2.79436 33.9797 2.12339 35.0333C1.5672 35.9009 0.843262 37.3883 0.340038 38.7163C-0.0307584 39.6636 -0.0837294 40 0.110497 40C0.260582 40 0.604893 39.8406 0.684349 39.7344C0.781463 39.6016 2.12339 38.6631 2.72373 38.3002C3.64189 37.7513 5.00148 37.0341 5.65479 36.7597C5.95496 36.6357 6.32575 36.4764 6.46701 36.4144C6.76718 36.2816 7.47346 36.0337 7.87957 35.9275C10.1661 35.2989 11.4375 35.1661 14.2714 35.2458C16.3284 35.3077 17.5203 35.4582 19.6656 35.9275C19.8863 35.9806 20.2659 36.0603 20.5043 36.1045C21.034 36.2108 21.2018 36.2462 23.2853 36.7685C24.1858 36.9899 25.0951 37.2289 25.3158 37.2909C25.5366 37.3617 26.2693 37.5476 26.9491 37.6981C27.6289 37.8486 28.2646 38.008 28.3617 38.0523C28.4588 38.0877 28.7766 38.1674 29.0679 38.2293C29.3593 38.2825 29.7566 38.371 29.9508 38.4064C30.145 38.4507 30.507 38.5303 30.7454 38.5746C30.9926 38.6277 31.5576 38.7517 32.0078 38.8491C33.6764 39.2298 35.9277 39.5308 38.2761 39.6901C38.8676 39.7255 39 39.7167 39 39.6105C39 39.5396 38.8058 39.097 38.5586 38.61C38.3202 38.132 38.1172 37.6981 38.1172 37.6362C38.1172 37.583 38.0907 37.5211 38.0554 37.5034C38.0112 37.4945 37.3314 36.1577 36.528 34.5552C32.8112 27.0653 32.3786 26.4367 30.1274 25.3035C29.7919 25.1264 29.4476 24.9494 29.3769 24.9051C28.9443 24.6306 26.6666 23.6745 25.5366 23.2938C23.0734 22.4616 20.2924 21.8507 18.9505 21.8507C18.3237 21.8507 17.2996 21.6648 17.1936 21.5408C17.0789 21.408 17.6351 19.6993 18.5444 17.3798C19.1624 15.7862 19.3566 15.3878 19.4979 15.3878C19.542 15.3878 19.6568 15.556 19.7627 15.7596C19.8598 15.9721 20.2659 16.7778 20.6632 17.5568L21.3872 18.9734L22.5349 19.0265C24.6096 19.115 25.8985 19.478 28.1763 20.6201C29.0503 21.0539 29.8095 21.408 29.8713 21.3903C30.0038 21.3638 30.1362 21.6382 24.3094 9.89872C20.1512 1.51463 19.3831 0.0361302 19.2154 0.000716925C19.1271 -0.0169897 18.9328 0.292876 18.6327 0.930315Z" fill="#374957"/>
      </svg>
      <h1>Stalk.gg</h1>    
    </div>
    <div class="ListMenu">
      <h3>Sıralama Türü</h3>
      <ul class="Feed">
        <li><i class="fi fi-br-hourglass-end"></i> <a href="#">En yeni</a></li>
        <li><i class="fi fi-br-flame"></i> <a href="#">Popüler</a></li>
        <li><i class="fi fi-br-star-octogram"></i> <a href="#">Random</a></li>
      </ul>
    </div>
    <div class="ListingMenu">
      <h3>Sıralama Türü</h3>
      <div class="tips">
       <div class="RadioArea">
          <input type="radio" id="one" name="list" value="one" checked>
        <label for="one">Ses sayısı</label>
       </div>
          <div class="RadioArea">
        <input type="radio" id="two" name="list" value="two">
        <label for="two">Üye sayısı</label>
       </div>
       <div class="RadioArea">
        <input type="radio" id="three" name="list" value="three">
        <label for="three">Kamera sayısı</label>
       </div>
      <div class="RadioArea">
          <input type="radio" id="four" name="list" value="four">
           <label for="four">Beğeni sayısı</label>
      </div>
      <div class="RadioArea">
        <input type="radio" id="five" name="list" value="five">
        <label for="five">Yayın sayısı</label>
      </div>
      </div>
    </div>
  </div>
  
  <style>
      .container {
          width: 228px;
          height: 100%;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          
          background: rgba(237, 233, 243, 0.5);
          padding-left: 48px;
          padding-top: 24px;
          color: #374957;
      }
      .logo {
          display: flex;
          gap: 12px;
          height: 50px;
          align-items: center;
      }
      h1 {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
      }
      .ListMenu {
          padding-top: 36px;
          margin-bottom: 32px;
          gap: 12px;
      }
      h3 {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
      }
      .Feed {
          list-style: none;
          padding: 0;
      }
      .Feed li {
          display: flex;
          gap: 8px;
          height: 40px;
          width: 143px;
          align-items: center;
          justify-content: center; 
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
      }
      .Feed li:hover {
          background: rgba(243, 177, 254, 0.3);
      }
      .Feed li:first-child {
          background: rgba(243, 177, 254, 0.3);
      }
      .Feed a {
          text-decoration: none;
          color: #374957;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-left: 4px;
      }
      .ListingMenu {
          display: flex;
          flex-direction: column;
          gap: 12px;  
      }
      .tips{
          display: flex;
          flex-direction: column;
          gap: 8px;
      }
      .tips label {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
      }
      .tips input {
          margin: 0;
          padding: 0;
          margin-right: 4px;
          font-size: 40px;
          color: #F3B1FE;
      }
  </style>